.poster {
  width: 100%;
  cursor: pointer;
}

.title {
  text-align: center;
}

.spinner {
  margin: auto;
}

.error {
	color: var(--danger);
	text-align: center;
	margin:auto;
	font-size: 3em;
	vertical-align: bottom;
	height: 30vh;
}

#mainContainer {
	padding-top: 20px;
}

button.btn{
	border-width: 2px;
}

.form-control {
	margin-top: 5px;
	margin-bottom: 5px;
}